@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column bg-dark p-3 rounded-4 shadow-sm">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="bi bi-person-circle me-2"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="bi bi-envelope me-2"></i> Email
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-lock me-2"></i> Password
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.DeletePersonalDataNavClass(ViewContext)" id="delete-user" asp-page="./DeletePersonalData">
            <i class="bi bi-trash me-2"></i> Delete Personal Data
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-login" asp-page="./ExternalLogins">
                <i class="bi bi-box-arrow-in-right me-2"></i> External Logins
            </a>
        </li>
    }
</ul>

<style>
    .nav-pills .nav-link {
        color: #f0f0f0;
        transition: all 0.2s ease-in-out;
    }

        .nav-pills .nav-link:hover {
            color: #fff;
            background-color: #d81324;
        }

        .nav-pills .nav-link.active {
            background-color: #d81324;
            color: #fff;
            font-weight: bold;
        }
</style>